@import url('https://fonts.googleapis.com/css?family=Noto Sans Tirhuta:700|Noto Sans Tirhuta:400');

:root {
    --text: #fbeff0;
    --background: #040101;
    --primary: #ce3648;
    --secondary: #150406;
    --accent: #cd3244;
}

body {
  font-family: 'Noto Sans Tirhuta';
  font-weight: 400;
  background: var(--background);
}

h1, h2, h3, h4, h5, html {
  font-family: 'Noto Sans Tirhuta';
  font-weight: 700;
  color:var(--text)
}


html {font-size: 100%;} /* 16px */

.universe h1{
    position: static;
}
h1 {
    font-size: 4.210rem; /* 67.36px */
    text-align: center;
    margin-top: 8%;
    letter-spacing: 5px;
    

}
.wrapper{
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px;
}

.line-area{
    display: block;
    width: 90%;
    height: 1px;
    position: absolute;
    background: var(--primary);
    top: 50%;
    left: 15%;
}
.wrapper .timeline-area{
    height: 100px;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll; /* Enable horizontal scrolling */
    padding: 20px 0;
}

.single-item {
    display: inline-block;
    margin-right: 70px;
    transition: width 0.5s;
    z-index: 1;
  }
  



.img-area {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50%;
    width: 100%;
}
.img-area a{
    display: block;
    width: 100%;
    height: 100%;
}
.img-area a img{
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    border: 5px solid var(--accent)
}
.img-area a span {
    width: auto; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
    bottom: -40px;
    left: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: var(--accent);
  }
img-area a span::after{
    margin-left: 5px;
}
.single-item.active .img-area{
    display: block;

}
h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


